@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    font-size: 8em;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 2em;
}

.logo {
    font-size: 3em;
    font-weight: bold;
    color: #171717;
}

.logo a {
    text-decoration: none;
    color: #171717;
}

.nav_links {
    overflow: hidden;
}



.nav_links ul li a:hover {
    background-color: #ddd;
    color: black;
}

.nav_links .icon {
    display: none;
}

.nav_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.nav_links ul li a {
    text-decoration: none;
    color: #171717;
    font-size: 1.2em;
}

.nav_links ul li a:hover {
    color: #000;
}



.stack_section,
.hero_section,
.blue {
    padding: 16em;
    text-align: center;

}

.hero_section {
    color: #171717;
}

.hero_section p {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}


/*About section*/
.about_section {
    display: flex;
    background-color: #171717;
    padding: 5em;
    gap: 7em;
    justify-content: space-between;
    color: #FFFFFF;
    height: 100vh;
}

.about_section p {
    padding-top: 20px;
    font-size: 1.6em;
    width: 80%;
}

.about_section img {
    display: block;
    padding: 65px;
    margin-top: 66px;
}

.resume_elment {
    display: flex;
    gap: 10px;
}

/*Portfolio*/
.portfolio_section {
    background-color: #171717;
    padding: 8em;
}

.portfolio_section h2 {
    color: #FFFFFF;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 80%;
    table-layout: fixed;
    color: #FFFFFF;
    margin-left: 9%;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    border-bottom: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: 1.625em;

}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.pattern {
    background-image: url('./img/dots-banner.svg');
}

/*Contact*/
.email_element {
    text-decoration: none;
    font-size: 2em;
    color: #171717;

    && {
        transition: text-decoration 0.3s ease, color 0.3s ease;
    }

    &&:hover {
        text-decoration: underline;
        color: inherit;
        /* Keeps the text color unchanged */
    }
}